body {
    background-color: rgb(255, 253, 229);
}

a, :visited {
    font-style: normal;
    color: royalblue;
}

.top {
    width: 100%;
    display: flex;
}

.title {
    font-size: 5vw;
    margin: 0em 0em 0.2em 50pt;
    padding: 0em;
    line-height: 1em;
}

.menu {
    display: flex;
    flex: 1;
}

.push {
    display: block;
    margin-left: auto;
}

.menuitem {
    display: inline-flex;
    margin-right: 1vw;
}

.subtitle {
    font-size: 1.39em;
    margin:  0em 0em 0.2em 50pt;
    padding: 0em;
}

.editor {
    margin:  0.8em 0em 0.4em 90pt;
}

.committee {
    margin:  0em 0em 0.4em 2em;
}

.catalog {
    margin-top: 2em;
}

.card {
    display: flex;
    height: 25em;
    margin-top: 1em;
}

.covers {
    display: flex;
    justify-content: center;
    width: 27em;
    column-gap: 1em;
}

.cover {
    max-width: 100%;
}

.data {
    table-layout: fixed;
    padding-left: 1em;
}

.entry {
}

.attribute {
}

.value {
    font-weight: bold;
    padding-left: 1em;
}
