body {
    background-color: rgb(255, 253, 229);
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a, :visited {
    display: block;
    font-style: normal;
    color: royalblue;
}

.top {
    width: 100%;
    display: flex;
}

.title {
    font-size: 5vw;
    margin: 0em 0em 0.2em 50pt;
    padding: 0em;
    line-height: 1em;
    white-space: nowrap;
}

.subtitle {
    font-size: 1.73vw;
    margin:  0em 0em 0.2em 50pt;
    padding: 0em;
}

.editor {
    margin:  0.8em 0em 0.4em 90pt;
}

.committee {
    margin:  0em 0em 0.4em 2em;
}

.catalog {
    margin-top: 2em;
    justify-content: center;
}

.card {
    height: 25em;
    margin-top: 1em;
    display: flex;
}

.images {
    width: 30%;
    min-width: 27em;
    max-width: 30%;
    height: 100%;
    column-gap: 1em;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    padding-right: 2em;
    margin-left: 5%;
}

.image {
    display: flex;
    height: 100%;
}

.data {
    min-width: 30em;
    max-width: 50%;
    max-height: 100%;
    table-layout: auto;
}

.entry {
}

.attribute {
}

.value {
    min-width: 20em;
    font-weight: bold;
    padding-left: 1em;
    overflow-wrap: break-word;
}

.queue {
    display: grid;
    margin-top: 3em;
    justify-content: center;
}

.queuetitle {
    margin-left: 1em;
    font-size: 1.5em;
}

.queuelist {
    margin-top: 1em;
    justify-content: left;
    font-size: 1.25em;
    line-height: 1.3em;
}

.footer {
    width: 100%;
    min-height: 3em;
    display: flex;
    margin-top: 1em;
    padding-top: 1.5em;
    flex: 1;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: black;
}

.footerpush {
    display: block;
    margin-left: auto;
}

.footeritem {
    display: inline-flex;
    margin-right: 1vw;
}
