@font-face {
    font-family: 'Biolinum-Regular';
    src: url('../resources/LinBiolinum_R.ttf') format('truetype');
}

@font-face {
    font-family: 'Biolinum-Bold';
    src: url('../resources/LinBiolinum_RB.ttf') format('truetype');
}

@font-face {
    font-family: 'Biolinum-Capital';
    src: url('../resources/LinBiolinum_aS.ttf') format('truetype');
}

*::before, *::after, *::first-line {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

html {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    background-color: #f8f4e0;
    font-family: 'Biolinum-Regular';
    text-align: left;
}

a, :visited {
    font-style: normal;
    color: darkblue;
}

a.doi {
    vertical-align: middle;
    margin-left: 0.25em;
}

.top {
    display: flex;
    flex-direction: column;
    padding-left: 50pt;
}

.title {
    display:block;
    font-family: 'Biolinum-Capital';
    font-weight: normal;
    font-size: 6.1em;
    margin: 0em 0em 0.1em 0em;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
}

.kern-h-2 { margin-left: -0.055em; }
.kern-e-1 { margin-left: -0.01em; }
.kern-o-1 { margin-left: -0.029em; }
.kern-h-1 { margin-left: -0.024em; }
.kern-r-1 { margin-left: -0.012em; }
.kern-y-1 { margin-left: -0.02em; }
.kern-s-1 { margin-left: -0.015em; }
.kern-c-1 { margin-left: -0.01em; }
.kern-a-1 { margin-left: -0.016em; }
.kern-o-2 { margin-left: -0.01em; }
.kern-n-1 { margin-left: -0.012em; }

.subtitle {
    width: 100%;
    font-family: 'Biolinum-Bold';
    font-weight: normal;
    font-size: 1.975em;
    margin:  0em 0em 0.2em 0.15em;
    padding: 0em;
    white-space: nowrap;
}

.info {
    width: 69em;
    display: flex;
    padding-top: 0.8em;
}

.inforight {
    flex: 1;
    text-align: right;
}

.editor, .github, .about {
    font-size: 1.5em;
    font-weight: normal;
    margin:  0em 0em 0.4em 0.15em;
}

.committee {
    margin:  0em 0em 0.4em 0em;
}

.contents {
    display: flex;
    width: calc(69rem);
    padding: 15px 0;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
}

.contents-column {
    flex: 1;
    box-sizing: border-box;
}

.contents-column a {
    display: block;
    margin: 4px 0;
    text-decoration: none;
    color: black;
}

.tier {
    display: flex;
    width: 69em;
    padding: 10px 0;
}

.tier-toggle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    transition: opacity 0.2s;
    user-select: none;
}

.tier-toggle input {
    display: none;
}

.tier-toggle span {
    pointer-events: none;
}

.tier-1 {
    background-color: rgb(255, 200, 175);
}

.tier-2 {
    background-color: rgb(255, 230, 130);
}

.tier-3 {
    background-color: rgb(220, 210, 180);
}

.tier-toggle:has(input:not(:checked)) {
    opacity: 0.4;
}

.queue, .group {
    overflow: visible;
}

.entry, .entry * {
    text-align: left;
    word-spacing: normal;
}

.entry[tier] {
    position: relative;
    overflow: visible;
    margin-left: 0px;
}

.entry[tier]::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 6px;
}

.entry[tier="1"]::before {
    background-color: rgb(255, 160, 120);
}

.entry[tier="2"]::before {
    background-color: rgb(255, 210, 80);
}

.entry[tier="3"]::before {
    background-color: rgb(200, 185, 145);
}

.filtersection {
    display: none;
    margin-top: 1em;
    margin-left: 50pt;
    max-width: 50em;
}

.filterchooser {
    display: flex;
}

.showfiltermainlabel {
    min-width: 6em;
}

.showfilterlabel {
    margin-left: 1em;
}

.filterrow {
    display: none;
    flex-direction: row;
    max-width: 50em;
    margin-top: 0.5em;
}

.filterlabel {
    width: 5em;
    min-width: 5em;
    text-align: right;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter {
    margin-left: 1em;
    white-space: nowrap;
}

.mainfilter {
    white-space: nowrap;
    min-width: 6em;
}

.filter, .filterlabel,.showfilterlabel, .showfilter {
    /* prevent double-click selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.catalog {
    margin-top: 2em;
    justify-content: center;
}

.section {
    font-size: 3em;
    margin-top: 0.5em;
    border-bottom: 1px solid;
}

.subsection {
    font-size: 2em;
    margin-top: 0.5em;
    border-bottom: 0.5px solid;
}

.bookcard {
    width: 112%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 28em;
    margin-left: 50pt;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    font-size: smaller;
}

.anchor {
    float: left;
    opacity: 0.5;
}

.anchor:hover {
    opacity: 1;
}

.anchor a {
    text-decoration: none;
    padding-bottom: 1em;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2em;
}

.grouptitle {
    position: relative;
    display: inline-block;
}

.grouptitle-anchor {
    margin-left: 0.5em;
    visibility: hidden;
    text-decoration: none;
    font-size: 0.6em;
    vertical-align: middle;
    color: inherit;
}

.grouptitle:hover .grouptitle-anchor {
    visibility: visible;
    opacity: 0.6;
}

.grouptitle .grouptitle-anchor:hover {
    opacity: 1;
}

.imagesform {
    float: left;
    height: inherit;
    flex-direction: column;
    margin-left: 3%;
    padding-right: 2em;
}

.images {
    display: flex;
    height: 95%;
    column-gap: 1em;
    white-space: nowrap;
    justify-content: left;
}

.image {
    height: 100%;
}

.imagescaption {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.bookcard > .data {
    display: inline;
    width: max-content;
    table-layout: fixed;
    padding-top: 1em;
    justify-content: left;
}

.dataentry {
    margin-bottom: 1em;
    height: 1.5em;
}

.attribute {
    vertical-align: middle;
}

.value {
    font-weight: normal;
    padding-left: 1em;
    vertical-align: middle;
}

td a {
    display: inline;
    white-space: nowrap;
}

.notesattribute {
    padding-top: 0.5em;
}

.notesvalue {
    padding-top: 0.5em;
    font-weight: normal;
}

.subject {
    display: inline;
    background-color: rgb(255, 230, 130);
    color: black;
    padding: 2px;
    margin-left: 0px;
    margin-right: 5px;
    white-space: nowrap;
}

.tag {
    display: inline;
    background-color: rgb(255, 200, 175);
    color: black;
    padding: 2px;
    margin-left: 0px;
    margin-right: 5px;
    white-space: nowrap;
}

.articlecard {
    display: flex;
    width: 90%;
    margin-left: 50pt;
    margin-bottom: 1em;
}

.biblio {
    display: none;
    margin-left: 5%;
    margin-bottom: 0.25em;
    white-space: normal;
}

.bibliospace {
    padding-left: 0.25em;
    white-space: normal;
}

.articledata {
    font-size: smaller;
    width: 100%;
}

.articledata > .data {
    margin-left: 20%;
}

.queue {
    width: 64em;
    margin-top: 0em;
    font-size: 20px;
    line-height: 1em;
}

.grouptitle {
    margin-left: 50pt;
    padding-top: 0.25em;
    margin-top: 0.75em;
    margin-bottom: 0.3em;
    font-size: 36px;
}

.entry {
    padding-left: 50pt;
    margin-top: 0.35em;
    margin-bottom: 0.25em;
    line-height: 1.2em;
}

.detailed {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    min-width: 0;
}

.menu {
    width: 40pt;
    margin-left: -40pt;
    display: inline-block;
    text-align: center;
    align-self: start;
}

.footer {
    width: 100%;
    min-height: 4em;
    display: flex;
    margin-top: 1em;
    padding-top: 1.5em;
    flex: 1;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: black;
}

.footerpush {
    display: block;
    margin-left: auto;
}

.footeritem {
    display: inline-flex;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
